# dependencies
node_modules/

# build outputs
.dist/
.dist
.astro/
dist/
.cache/

# local env files
.env
.env.*

# system files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# deployment
.vercel/
.netlify/
